.idea
CScc_data.csv
cSCC_data_clean.csv
models/Decision Tree_best_model.pkl
models/Gradient Boosting_best_model.pkl
models/K-Nearest Neighbors_best_model.pkl
models/Logistic Regression_best_model.pkl
models/Random Forest_best_model.pkl
models/SVM_best_model.pkl
models/XGBoost_best_model.pkl